# Build
build/
cmake-build-*/
out/
test-sync/

# IDE
.vscode/
.idea/

# Qt
*.pro.user
moc_*.cpp
ui_*.h
qrc_*.cpp

# Go
server/yeti-server
server/vendor/
server/bin/yeti-server

# OS
.DS_Store
Thumbs.db
